<!--
  Generated template for the ExcelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Importar/Exportar Excels</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <div id="login-access">
      <h2>
        <i class="glyphicon glyphicon-log-in"></i> Importar/Exportar Excels</h2>
    </div>

  </div>

  <ion-navbar color='favorite'>

    <ion-buttons start>
      <button ion-button icon-only (click)="AltaConArchivo()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      CSV Data
    </ion-title>
    <ion-buttons end>
      <!-- <button ion-button icon-only (click)="alertDescarga()">
           <ion-icon name="download"></ion-icon>
         </button> -->
      <button ion-button icon-only (click)="guardarLista()">
      </button>
    </ion-buttons>
  </ion-navbar>

  <p *ngIf="archivo == null">Presiona el botón + para elegir un archivo</p>

  <ion-grid *ngFor ="let aux of test_data">
    <ion-row>
      <ion-col>
          Comision:{{aux.Comision}}
      </ion-col>
      <ion-col>
          Materia: {{aux.Materia}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Profesor:{{aux.nombre_prof}} {{aux.ape_prof}}
      </ion-col>
      <ion-col>
        Aula: {{aux.aula}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <table border="1" class="data-table" style="overflow-x:auto;">
    <th *ngIf="archivo != null && !existe">Legajo</th>
    <th *ngIf="archivo != null && !existe">Nombre y apellido</th>
    <th *ngIf="archivo != null && !existe">Horario</th>
    <tr *ngFor="let row of csvData; let i = index">
      <td *ngFor="let data of row; let j = index; trackBy: trackByFn">
        <ion-input type="text" [(ngModel)]="csvData[i][j]"></ion-input>
      </td>
    </tr>
  </table>
</ion-content>
<ion-footer>
  <button ion-button full color="primary" icon-end (click)="Volver()">
    Salir
  </button>
</ion-footer>